In [3]:
import pandas as pd
import seaborn as sb
low_memory=False
%matplotlib inline
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [42]:
df_2017 = pd.read_csv("Nascidos_2017.csv", sep=";", encoding="ISO-8859-1")
df_2016 = pd.read_csv("Nascidos_2016.csv", sep=";", encoding="ISO-8859-1")
df_2015 = pd.read_csv("Nascidos_2015.csv", sep=";", encoding="ISO-8859-1")

In [178]:
#f = pd.concat([df_2017, df_2016, df_2015], keys=["2017", "2016", "2015"])
df_2017

   Idade da Mãe  Nordeste  Sudeste
0  10 a 14 anos      8658     5591
1  15 a 19 anos    154640   147936
2  20 a 24 anos    215697   267857
3  25 a 29 anos    189969   278064
4  30 a 34 anos    150439   256631
5  35 a 39 anos     78038   157062
6  40 a 44 anos     18635    36478
7  45 a 49 anos      1135     2089
8  50 a 54 anos        83       92